<%- include('head') %>
<!-- Modal -->
<div
  class="modal fade"
  id="addeditModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="addeditModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addeditModalLabel">Add/Edit Content</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          id="mainmodal_close"
        ></button>
      </div>
      <form id="portadd" name="portadd">
        <input type="hidden" class="inputform" name="id" id="id" value="">
        <div class="modal-body">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              name="name"
              id="name"
              value=""
              class="form-control inputform"
              required
            />
          </div>
          <div class="mb-3">
            <label for="link" class="form-label">Link Data</label>
            <textarea
              name="link"
              id="link"
              class="form-control inputform"
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="images" class="form-label">Image Link</label>
            <input
              class="form-control inputform"
              type="text"
              name="images_link"
              id="images_link"
            />
          </div>
          <div class="mb-3">
            <label for="images" class="form-label">Image Upload</label>
            <input
              class="form-control inputform"
              type="file"
              name="images"
              id="images"
            />
          </div>
          <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea
              name="content"
              id="contents"
              class="form-control inputform"
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="technology" class="form-label">Technology</label>
            <textarea
              name="technology"
              id="technology"
              class="form-control inputform"
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="api" class="form-label">API</label>
            <textarea
              name="api"
              id="api"
              class="form-control inputform"
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select
              class="form-select selectform"
              name="category"
              id="category"
              aria-label="Category"
              required
            >
              <% if(catdata_data.length==0){ %>
              <option selected>Please Insert Category First</option>
              <% }else{ %>
              <!--  -->
              <% Object.values(catdata_data).forEach(function(item){ %>
              <option value="<%=item._id%>"><%=item.name%></option>
              <% }) %> <% } %>
            </select>
          </div>
          <div class="mb-3">
            <label for="language" class="form-label">Language</label>
            <select
              class="form-select selectform"
              name="language"
              id="language"
              aria-label="Language"
              required
            >
              <option value="th">Thai</option>
              <option value="en">English</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="order_show" class="form-label">order_show</label>
            <input
              type="text"
              name="order_show"
              id="order_show"
              value=""
              class="form-control inputform"
            />
          </div>

          <!-- <div class="mb-3">
            <label for="discard" class="form-label">Onuse</label>
            <select class="form-select selectform" name="discard" id="discard">
              <option value="0">Yes</option>
              <option value="1">No</option>
            </select>
          </div> -->
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End Modal -->
<div class="container">
  <div class="row">
    <div class="col-md-4 text-start mt-3">
      <select class="form-control" name="select_category" id="select_category">
        <% if(catdata_data.length==0){ %>
        <option value="" selected>All</option>
        <% }else{ %>
        <option value="" selected>All Category</option>
        <% Object.values(catdata_data).forEach(function(item){ %>
        <option value="<%=item._id%>"><%=item.name%></option>
        <% }) %> <% } %>
      </select>
    </div>
    <div class="col-md-4 text-start mt-3">
      <select class="form-control" name="select_language" id="select_language">
        <option value="">All</option>
        <option value="th">Thai</option>
        <option value="en">English</option>
      </select>
    </div>
    <div class="col-md-4 text-end mt-3">
      <button
        class="btn btn-info"
        data-bs-toggle="modal"
        data-bs-target="#addeditModal"
      >
        Add
      </button>
    </div>
  </div>
  <div class="row" id="main_div"></div>
</div>
<%- include('foot') %>
<script>
  fetchdata();

  const addeditModal = document.getElementById("addeditModal");
  const modal = new bootstrap.Modal(addeditModal);

  document
    .querySelector("#mainmodal_close")
    .addEventListener("click", function (e) {
      var inputTags = document.querySelectorAll(".inputform");
      for (var i = 0; i < inputTags.length; i++) {
        inputTags[i].value = "";
      }
      var selectTags = document.querySelectorAll(".selectform");
      for (var i = 0; i < selectTags.length; i++) {
        selectTags[i].selectedIndex = 0;
      }
    });

  let formport = document.querySelector("#portadd");
  formport.addEventListener("submit", function (event) {
    event.preventDefault();
    // alert("sm");
    let formData = new FormData(formport);
    fetch("/update_port", {
      method: "POST",
      body: formData,
    })
      .then((res) => res.json())
      .then((res) => {
        if (res.success == 0) {
          // console.log(res);
          alert(res.msg);
        } else {
          // console.log(res);
          // alert(res.msg);
          fetchdata();
          modal.hide();
        }
      });

    return false;
  });

  document
    .querySelector("#select_category")
    .addEventListener("change", function (event) {
      event.preventDefault();
      fetchdata();
      return false;
    });

  document
    .querySelector("#select_language")
    .addEventListener("change", function (event) {
      event.preventDefault();
      fetchdata();
      return false;
    });

  function fetchdata() {
    var inputTags = document.querySelectorAll(".inputform");
    for (var i = 0; i < inputTags.length; i++) {
      inputTags[i].value = "";
    }
    var selectTags = document.querySelectorAll(".selectform");
    for (var i = 0; i < selectTags.length; i++) {
      selectTags[i].selectedIndex = 0;
    }

    const select_category = document.querySelector("#select_category").value;
    const select_language = document.querySelector("#select_language").value;
    let html = "";
    fetch(
      "/api/portfolio?cat=" + select_category + "&lang=" + select_language,
      {
        method: "GET",
      }
    )
      .then((res) => res.json())
      .then((res) => {
        if (res.success == 0) {
          console.log(res);
        } else {
          res.return.forEach((data) => {
            html += '<div class="col-md-4 mt-3">';
            html += '<div class="card">';
            if (data.images !== undefined && data.images != "") {
              html +=
                '<img src="' +
                data.images +
                '" class="card-img-top" alt="' +
                data.name +
                '">';
            }
            html += '<div class="card-body bg-transparent border-success">';
            html +=
              '<h5 class="card-title">' +
              data.name +
              "( " +
              data.category.name +
              ":" +
              data.order_show +
              " )</h5>";
            html += '<p class="card-text">Link : ' + data.link + "</p>";
            html +=
              '<p class="card-text">Responsibility : ' + data.content + "</p>";
            html += '<p class="card-text">Tech : ' + data.technology + "</p>";
            html += '<p class="card-text">API : ' + data.api + "</p>";
            html += '<p class="card-text">Language : ' + data.language + "</p>";
            html += '<div class="card-footer">';
            html +=
              '<button class="btn btn-info editbtn" data-id="' +
              data._id +
              '">Edit</button> ';
            html += '<form class="deleteform" style="display: contents">';
            html +=
              '<input type="hidden" name="delete_id" value="' +
              data._id +
              '" />';
            html += '<button class="btn btn-danger deletebtn">Delete</button>';
            html += "</form></div></div></div></div>";
          });

          document.getElementById("main_div").innerHTML = html;

          Array.from(document.querySelectorAll(".editbtn")).forEach(
            (button) => {
              button.addEventListener("click", (e) => {
                e.preventDefault();
                //get content to show edit
                const id = e.target.getAttribute("data-id");
                fetch("/api/portfolio_search?id=" + id, {
                  method: "GET",
                })
                  .then((res) => res.json())
                  .then((res) => {
                    document.querySelector("#id").value = res.return._id;
                    document.querySelector("#name").value = res.return.name;
                    document.querySelector("#link").value = res.return.link;
                    document.querySelector("#images_link").value = res.return.images;
                    document.querySelector("#contents").value = res.return.content;
                    document.querySelector("#technology").value = res.return.technology;
                    document.querySelector("#api").value = res.return.api;
                    document.querySelector("#order_show").value = res.return.order_show;
                    document.querySelector("#category").value = res.return.category;
                    document.querySelector("#language").value = res.return.language;
                    // let dc = 0;
                    // if(res.return.discard==true)
                    // {
                    //   dc = 1;
                    // }
                    // document.querySelector("#discard").value = dc;
                    // console.log(res.return);
                  });
                modal.show();
              });
            }
          );

          Array.from(document.querySelectorAll(".deleteform")).forEach(
            (form) => {
              form.addEventListener("submit", (e) => {
                e.preventDefault();
                if (confirm("Delete This Category?") == true) {
                  let formData = new FormData(form);
                  fetch("/delete_port", {
                    method: "POST",
                    body: formData,
                  })
                    .then((res) => res.json())
                    .then((res) => {
                      if (res.success == 0) {
                        // console.log(res.return);
                        alert(res.msg);
                      } else {
                        // console.log(res);
                        // alert(res.msg);
                        fetchdata();
                      }
                    });
                  return false;
                } else {
                  return false;
                }
              });
            }
          );
        }
      });
  }
</script>
